
{% extends 'layout.html' %}

{% block body %}
  <h1>About</h1>
  <p>Early intervention in academic life helps students to change their course of education and graduate early with better grades. Universities all over
the world struggle with retention of students. Many tools and techniques are developed to help students, faculty, and administrators to cope with
advising students efficiently. In this project “big data” analytics will be used to help universities to understand their students, teaching efficiency in
their institutions by learning from data. A software tool will be developed to analyze and visualize data from past student enrollments in classes
and their grades.</p>
  <h2>Team</h2>

  <ul>
  	<li>Erdoğan DOĞDU (Advisor)</li>
  	<li>Efnan GÜLKANAT</li>
  	<li>Meltem DAŞDEMİR</li>
  	<li>Sergen İSPİR</li>
  </ul>

  <p style="margin-left:500px">( ͡° ͜ʖ ͡°)</p>
{% endblock %}
